.login_title 
    display: flex
    align-items: center
    justify-content: space-between
    .settings_btn
        font-size: 13px
        color: #fff 
        padding: 5px 10px
        background: darken($blue, 10)
    h3
        text-align: center
        text-transform: uppercase
        font-size: 16px
        letter-spacing: 1px
        margin: 20px 0

