.login_title 
    display: flex
    align-items: center
    justify-content: space-between
    .change_login_btn
        color: #222
        text-transform: uppercase
        font-size: 12px
        padding: 2px 10px
        border-bottom: 2px solid #222
    .settings_btn
        font-size: 13px
        color: #fff 
        padding: 5px 10px
        background: darken($blue, 10)
    h3
        text-align: center
        text-transform: uppercase
        font-size: 16px
        letter-spacing: 1px
        margin: 20px 0
.random_names
    margin-bottom: 20px
    h4
        margin-bottom: 10px
    .name-result
        margin-bottom: 3px
        display: flex
        justify-content: center
        align-items: center
        position: relative
        p
            border: none
            background: #ffffff90
            padding: 0 10px
            width: 95%
            height: 30px
            font-size: 16px
            display: flex
            justify-content: center
            align-items: center
        .copy_btn
            display: flex
            justify-content: center
            align-items: center
            background: #fff
            height: 30px
            padding: 0 10px
            cursor: pointer
        .copy_btn span
                height: 19px
                width: 19px
                background: url('../img/copy.svg')
                background-size: cover

.week_statistic
    background: #8057ff
    color: #fff
    padding: 10px
    font-size: 14px
    margin-bottom: 10px
    p
        text-align: center
    .w_stats_wrap
        display: grid
        grid-auto-flow: column
        text-align: center
        border-bottom: 2px solid #ffffff40
        padding: 5px 0
    .all_links_title p
        text-align: left
        padding: 10px 10px 0px 10px

.search_dashboard
    display: grid
    grid-template-columns: 1fr 1fr
    grid-gap: 5px
    margin-bottom: 10px
    .search_tagged_wrap
        color: #000
        border-bottom: 2px solid #000
        text-align: center
        padding: 5px
        float: left
        padding: 5px 15px
        font-size: 13px
        &:hover
            border-bottom-color: #f3db04b5
    .clear_search_btn
        float: right
        color: #444
        border-bottom: 2px solid #444
        padding: 5px 10px
        font-size: 13px
        &:hover
            color: #000
            border-bottom-color: #000
    .search_date_wrap, .search_acc_wrap
        display: grid
        grid-template-columns: 3fr 1fr
        label
            grid-column-start: 1
            grid-column-end: 4
        .search_val, select
            color: #000
            border: 2px solid #4747fd87
            font-size: 15px
            text-align: center
            background: #4040ff2e
            height: 30px
            padding: 0 5px
            option
                background: #ddd
        .search_btn, .search_btn_date
            background: #000
            display: flex
            align-items: center
            justify-content: center
            background: #4747fd87
            font-weight: 300
            font-size: 13px
            letter-spacing: 1px
            cursor: pointer
            padding: 0 3px
    .search_acc_wrap
        .search_val
            border: 2px solid #7070ff87
            background: #3e3eb12e
            padding: 0 10px
            text-align: left
        .search_btn
            background: #7070ff
.more_btn
    background: lighten($purple, 10)
    color: #fff
    padding: 7px
    font-size: 14px