@media only screen and (max-width: 1024px)
    header
        padding: 10px 15%
    
    header .account
        height: 30px
        width: 30px
    
    .container
        width: 95%
        padding: 20px 15px
    
    #shortener_form
        padding: 0
        .links_radio
            margin-top: 10px
        .radio-wrap
            margin-top: 5px
        input
            width: 100%
        select
            font-size: 14px
    
    .shortlink-wrap 
        padding: 0
    
    h3
        margin-top: 20px