*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto';
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;
}
p, textarea{
    word-break: break-all;
}
label{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
    word-break: break-all;
}
input{
    border: 1px solid #bbb;
    padding: 5px 10px;
    font-size: 15px;
    height: 30px;
    background: #ffffff90;
    word-break: break-all;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25%;
}
header .account{
    width: 25px;
    height: 25px;
    background-image: url('../img/user.svg');
    background-size: cover;

}
.container{
    margin: 0 auto;
    padding: 10px;
    width: 55%;
    background: #00000010;
}
.btn{
    border: none;
    background-color: #64d364;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second_btn{
    background-color: #ffffff60;
    background-image: url('../img/arrow.webp');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}
.alert{
    
    padding: 20px;
    text-align: center;
    background: #ffd642;
}
.delete_btn{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 1px 5px;
    background: #dddddd90;
    display: flex;
    align-items: center;
}
.popup{
    position: fixed;
    background: #00000050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.popup .popup_wrap{
    background: #fff;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -150%);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}
.popup .popup_wrap form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    width: 90%;
}
.popup .popup_wrap form .close{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 3px 10px;
    background: #000;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.popup .popup_wrap form input{
    margin-bottom: 20px;
}
.popup .popup_wrap form h3{
    text-align: center;
    margin-bottom: 20px;
}
.popup .popup_wrap form button{
    height: 35px;
    width: 130px;
    margin: auto;
}
.popup .delete_link_popup_wrap form span{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 13px;
}
.popup .delete_link_popup_wrap form p{
    margin-bottom: 10px;
    padding: 0 5px;
}
.popup .delete_link_popup_wrap form a,
 .popup .delete_user_popup_wrap form a{
    text-align: center;
    background: #d9534f;
    width: 100px;
    margin: 20px auto 0px auto;
    padding: 7px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
}
.popup_show, .popup .popup_wrap_show{
    visibility: visible;
    opacity: 1;
}
.popup .popup_wrap_show{
    transform: translate(-50%, -50%);
}
#shortener_form{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;

}
#shortener_form textarea{
    padding: 5px 10px;
    font-size: 15px;
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
}

#shortener_form .radio-wrap{
    width: 100%;
}
#shortener_form .radio-wrap label.radio_label{
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    padding: 5px 10px 5px 25px ;
    display: inline-block;
    margin: 0 20px 10px 0;
    cursor: pointer;
    border-radius: 3px;
}
#shortener_form .radio-wrap input.radio{
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    transition: all .25s ;
    background: #fff;
    position: absolute;
    top: 37%;
    left: 8px;
    padding: 0;
}
#shortener_form .radio-wrap input.radio:checked{
    background: #64d364;
    border: 1px solid transparent;
    width: 10px;
    height: 10px;
    top: 33%;
}

.domains_btn{
    margin-bottom: 10px;
}
.domains, .stairs{
    margin-bottom: 15px;
    transition: .25s;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.links_radio{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;

}
#shortener_form .links_radio .mainlink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#shortener_form .links_radio label.radio_label{
    padding: 7px 10px 7px 25px ;
    border-radius: 3px 0px 0px 3px;
    margin: 0;
    width: 100%;
}


#shortener_form .nickname_row{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
#shortener_form .nickname_row .img{
    background: url('../img/paste_icon.png') center no-repeat;
    background-size: 20px;
    background-color: #fff;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#shortener_form select{
    width: 100%;
    padding: 7px;
    background: #ffffff90;
    text-align-last: center;
    border: none;
} 
#shortener_form select{
    text-align: center;
} 
#shortener_form button {
    height: 40px;
    margin: 30px auto;
    width: 130px;
}


.shortlink-wrap{
    padding: 20px 50px;
}
.shortlink-wrap h4{
    margin-bottom: 15px;
    letter-spacing: .5px;
}
.shortlink-wrap .shortlink_line{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.shortlink-wrap .shortlink_line p{
    border: none;
    background: #ffffff90;
    padding: 0 10px;
    width: 95%;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortlink-wrap .shortlink_line .copy_btn, .shortlink-wrap .shortlink_line .copy_btn_http{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
}
.shortlink-wrap .shortlink_line .copy_btn img, .shortlink-wrap .shortlink_line .copy_btn_http img{
    height: 20px;
}
.shortlink-wrap .shortlink_line .copy_success, .shortlink-wrap .shortlink_line .copy_success_http{
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 20px;
    background: #64d36490;
    width: 100%;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
    z-index: 2;
}
.shortlink-wrap .shortlink_line .copy_success.active,.shortlink-wrap .shortlink_line .copy_success_http.active{
    opacity: 1;
    visibility: visible;
    bottom: -20px;
}
.shortlink-wrap .shortlink_line_https{
    margin-bottom: 50px;
}
.login{
    padding: 40px 0; 
}
.login form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login form button{
    height: 30px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: #fff;
    padding: 0 15px;
}
.all_links_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all_links_title .delete_user{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 1px;
    background: #d9534f;
    padding: 5px 15px;
    cursor: pointer;
    color: #fff;
}

.all_links-wrap{
    padding: 20px 50px;
}
.users-wrap{
    margin-bottom: 15px;
    max-height: 0;
    transition: .25s;
    background: #ffffff60;
    overflow: hidden;
    visibility: hidden;
}
.users-wrap .user_row{
    font-size: 15px;
    font-weight: 300;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    background: #ffffff85;
    margin: 5px 0;
}
.users-wrap .user_row .user_login{
    text-align: center;
    letter-spacing: 1px;
    font-size: 13px;
    font-weight: bold;
}
.users-wrap .user_row .user_stats{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.users-wrap .user_row a{
    background: #4b8ef9;
    padding: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 300;
    color: #fff;
}
.all_links-wrap h3{
    letter-spacing: .5px;
    margin-bottom: 20px;
}
.all_links-wrap .links_top{
    font-size: 14px;
    text-align: center;
    background: #ffffffaa;
    line-height: 20px;
    padding: 10px;
    margin: 10px 0;
}
.all_links-wrap .link_row {
    margin-bottom: 5px;
    padding: 10px;
    background: #ffffff90;
    position: relative;
}
.all_links-wrap .link_row .link {
    display: flex;
    justify-content: space-between;
}
.all_links-wrap .link_row .link textarea{
    font-size: 12px;
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    height: 100%;
    display: block;
    color: #555;
}

.all_links-wrap .link_row p.shortlink{
    font-weight: 300;
    font-size: 13px;
    color: #555;
}
.all_links-wrap .link_row p.tiktok{
    font-weight: 300;
    margin: 5px 0;
    font-size: 15px;
}
.all_links-wrap .link_row p.tiktok span{
    text-transform: uppercase;
    font-size: 10px;
    padding: 1px 3px;
    background: #ff8282;
    opacity: .8;
}
.all_links-wrap .link_row .span{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.all_links-wrap .link_row .span p{
    font-size: 14px;
}
.all_links-wrap .link_row .span p .last_click{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}
.all_links-wrap .link_row .span p .last_click span{
    font-size: 13px;
    letter-spacing: 0;
}
.all_links-wrap .link_row .span b{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}
.all_links-wrap .link_row .profit{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.all_links-wrap .link_row .time_created{
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    right: 20px;
}
.all_links-wrap .link_row .delete_btn{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px 12px;
    cursor: pointer;
}

.show_wrap{
    max-height: 100%;
    overflow: visible;
    visibility: visible;
}
@media only screen and (max-width: 1024px){
    header{
        padding: 10px 15%;
    }
    header .account{
        height: 30px;
        width: 30px;
    }
    .container{
        width: 95%;
    }
    .all_links-wrap{
        padding: 0;
    }
    #shortener_form{
        padding: 0;
    }
    #shortener_form .links_radio{
        margin-top: 10px;
    }
    #shortener_form .radio-wrap{
        margin-top: 5px;
    }
    #shortener_form input.custom_link,
     #shortener_form input.name_input,
     #shortener_form input.nickname,
      #shortener_form .nickname_row {
        width: 100%;
    }
    .shortlink-wrap {
        padding: 0;
    }
    h3{
        margin-top: 20px;
    }
}