*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #000;
    font-family: 'Roboto';
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 25%;
}
label{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
}
input{
    border: 1px solid #bbb;
    padding: 5px 10px;
    font-size: 15px;
    height: 30px;
    background: #ffffff90;
}
.container{
    margin: 0 auto;
    padding: 0 20px 10px 20px;
    width: 55%;
    background: #00000010;
}
.btn{
    border: none;
    background-color: #64d364;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    position: absolute;
    background: #00000050;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 150px;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
}
.popup .popup_wrap{
    background: #fff;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateY(-100px);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
}
.popup .popup_wrap form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0;
    width: 90%;
}
.popup .popup_wrap form .close{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 3px 10px;
    background: #000;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.popup .popup_wrap form input{
    margin-bottom: 20px;
}
.popup .popup_wrap form h3{
    text-align: center;
    margin-bottom: 20px;
}
.popup .popup_wrap form button{
    height: 35px;
    width: 130px;
    margin: auto;
}

.popup_show, .popup .popup_wrap_show{
    visibility: visible;
    opacity: 1;
}
.popup .popup_wrap_show{
    transform: translateY(0);
}
#shortener_form{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: start;

}
#shortener_form textarea{
    padding: 5px 10px;
    font-size: 15px;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}
#shortener_form .save_link-btn{
    margin: auto 0 auto auto;
    width: 80px;
    height: 25px;
    font-size: 12px
}

#shortener_form .radio-wrap{
    margin-top: 25px;
    width: 100%;
}
#shortener_form .radio-wrap label.radio_label{
    font-size: 15px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    position: relative;
    padding: 5px 10px 5px 25px ;
    display: inline-block;
    margin: 0 20px 10px 0;
    cursor: pointer;
    border-radius: 3px;
}
#shortener_form .radio-wrap input.radio{
    border-radius: 50%;
    height: 8px;
    width: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    transition: all .25s ;
    background: #fff;
    position: absolute;
    top: 37%;
    left: 8px;
    padding: 0;
}
#shortener_form .radio-wrap input.radio:checked{
    background: #64d364;
    border: 1px solid transparent;
    width: 10px;
    height: 10px;
    top: 33%;
}

#shortener_form .links_radio{
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
#shortener_form .links_radio .mainlink{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
#shortener_form .links_radio label.radio_label{
    padding: 7px 10px 7px 25px ;
    border-radius: 3px 0px 0px 3px;
    margin: 0;
    width: 100%;
}
#shortener_form .links_radio .delete_mainlink{
    float: right;
    cursor: pointer;
    background: #ff5757;
    border-radius: 0px 3px 3px 0px;
    padding: 7px 5px; 
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
}



#shortener_form .nickname_row{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
#shortener_form .nickname_row .img{
    background: url('../img/paste_icon.png') center no-repeat;
    background-size: 20px;
    background-color: #fff;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#shortener_form select{
    width: 100%;
    padding: 7px;
    background: #ffffff90;
    text-align-last: center;
    border: none;
} 
#shortener_form select{
    text-align: center;
} 
#shortener_form button {
    height: 40px;
    margin: 30px auto;
    width: 130px;
}


.shortlink-wrap{
    padding: 20px 50px;
}
.shortlink-wrap h4{
    margin-bottom: 15px;
    letter-spacing: .5px;
}
.shortlink-wrap .shortlink_line{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.shortlink-wrap .shortlink_line p{
    border: none;
    background: #ffffff90;
    padding: 0 10px;
    width: 95%;
    height: 40px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shortlink-wrap .shortlink_line .copy_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 40px;
    padding: 0 10px;
    cursor: pointer;
}
.shortlink-wrap .shortlink_line .copy_btn img{
    height: 20px;
}
.shortlink-wrap .shortlink_line .copy_success{
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 20px;
    background: #64d36490;
    width: 100%;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: .25s;
}
.shortlink-wrap .shortlink_line .copy_success.active{
    opacity: 1;
    visibility: visible;
    bottom: -20px;
}
.login{
    padding: 40px 0; 
}
.login form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login form button{
    height: 30px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    background: #fff;
    padding: 0 15px;
}
.all_links_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.all_links_title .preland_btn{
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    padding: 5px 10px;
    color: #fff;
    font-weight: 300;
}
.all_links_title .preland_btn.Off{
    background: #bdc3d1;
}
.all_links_title .preland_btn.On{
    background: #7890df;
}
.all_links-wrap{
    padding: 20px 50px;
}
.all_links-wrap #users_btn{
    background: #ffffff60;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.all_links-wrap .users-wrap{
    margin-bottom: 15px;
    max-height: 0;
    transition: .25s;
    background: #ffffff60;
    overflow: hidden;
    visibility: hidden;
}
.all_links-wrap .show_users{
    max-height: 100%;
    overflow: visible;
    visibility: visible;
}
.all_links-wrap .users-wrap .user_row{
    font-size: 15px;
    font-weight: 300;
    padding: 5px 15px;
}
.all_links-wrap h3{
    letter-spacing: .5px;
    margin-bottom: 20px;
}
.all_links-wrap .date_created{
    font-size: 14px;
    margin: 30px 0 10px 0;
    font-weight: 300;
}
.all_links-wrap .link_row {
    margin-bottom: 20px;
    padding-left: 5px;
}
.all_links-wrap .link_row .link {
    display: flex;
    justify-content: space-between;
}
.all_links-wrap .link_row .link textarea{
    font-size: 12px;
    width: 100%;
    border: none;
    background: transparent;
    resize: none;
    height: 100%;
    display: block;
    color: #555;
}
.all_links-wrap .link_row p.shortlink{
    font-weight: 300;
    font-size: 13px;
    color: #555;
}
.all_links-wrap .link_row p.tiktok{
    font-weight: 300;
    margin: 5px 0;
    font-size: 15px;
}
.all_links-wrap .link_row p.tiktok span{
    text-transform: uppercase;
    font-size: 10px;
    padding: 1px 3px;
    background: #ff8282;
    opacity: .8;
}
.all_links-wrap .link_row .span{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.all_links-wrap .link_row .span span{
    font-size: 14px;
}
.all_links-wrap .link_row .span b{
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 1px;
}
.all_links-wrap .link_row .span .time_created{
    font-size: 12px;
}
@media only screen and (max-width: 1024px){
    header{
        padding: 10px 25%;
    }
    .container{
        width: 95%;
        padding-top: 10px;
    }
    .all_links-wrap{
        padding: 0;
    }
    #shortener_form{
        padding: 0;
    }
    #shortener_form textarea{
        height: 70px;
    }
    #shortener_form input.custom_link,
     #shortener_form input.name_input,
     #shortener_form input.nickname,
      #shortener_form .nickname_row {
        width: 100%;
    }
    .shortlink-wrap {
        padding: 0;
    }
    h3{
        margin-top: 20px;
    }
}